{% extends "PackagistWebBundle::layout.html.twig" %}

{% block search %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="box clearfix">
        This would be a rad place to put some kind of information.
    </div>
{% endblock %}
